body{
	background-color: #000000;
	text-align: center;
	color: white;
	margin: 2%;
	padding: 2%;
	height: 100%;
	width: 100%;
}
label {
	font-size: 14px;
}
section {
	position: relative;
	align-content: center;
	margin-top:2vh;
	height:97vh;
	width: 99vw;
}
video{
	border: 1% ;
	border-color: white;
}
canvas{
	position: absolute;
	z-index: 10000;
	background-color: transparent;
}
p{
	font-size: 10px;
}
.info {
	color: blue ;
}
.warning {
	color: orange ;
}
.error {
	color: red ;
}
#statusDiv{
	display: inline;
}
#videoDiv{

}
#statusDiv h5{
	margin: 0.1%;
	padding: 0.1%;
	display: inline;
}
#statusDiv p{
	margin: 0.1%;
	padding: 0.1%;
	display: inline;
}
button{
	align-self: center;
	padding: 1%;
	margin: 1%;
}

.form-group{
	display: inline
}


.person{
	padding-top: 5px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}
.people p{
	font-size: 15px;
}

#addPerson{
	float: left;
	border-radius: 2px;
}